**/.idea
build
venv
temp
dist
uploads
downloads
target
.idea
.DS_Store
.sass-cache
.webassets-cache
.bundle-cache
.editorconfig
.jshintrc
*.pyc
*.class
*.egg-info
migrations
celerybeat-schedule.db
node_modules
npm-debug.log
*.log
p_cache
.p_cache
vault
workspace.xml
